/*profileCOntent*/
.profileContent {
  background-color:#fff;
  max-width: 100%;
  padding: 50px;
}

#mainProfile h1 {
	color:#5ACC5A;
}

/*list*/
ul#all-list li {
	list-style: none;
	display: inline;
	margin: 10px 25px 0px 0px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;

}

/*Buttons*/
.btn-allergy {
  background-color: #5ACC5A;
  border-color: #00619C;
  min-width: 80px;
  max-width: 180px;
  display: inline-block; 
  height: 30px;
  font-size: 14px;
  color:#fff;
  position: relative;  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

/*Manage Button*/
.btn-manage {
  background-color: #8f4e45;
  border-color: #8f4e45;
  min-width: 30px;
  width: 100px;
  display: inline-block; 
  height: 35px;
  font-size: 11px;
  color:#fff;
}

button{
  display: inline-block;
  vertical-align: top;
  /*padding: .4em .8em;*/
  margin: 0;
  background: #0090BE;
  border: 0;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

button:focus{
  outline: 0 none;
}

.form-group h6 {
	font-weight: bold;
}