#add {
  display: inline-block;
  vertical-align: top;
  padding: .4em .8em;
  margin: 0;
  background: #0090BE;
  border: 0;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}