/*Food items content*/
.options {
	opacity: 0.8;
	border:0;
}

.foodItemsContent p{
	text-align: center;
} 


/*Food details*/

.foodContent {
    background-color:#fff;
   	max-width: 100%;
   	padding: 50px;
}

div #main-body {
	width: 100%;
	height: auto;
}

.suitable {
	color: #5ACC5A;
	font-weight: bold;
}

.unSuitable {
	color: #8f4e45;
}

h3 {
	font-weight: bold;
}

.conAll {
	font-size: 19px;
}

/*history*/
.history h2{
	text-align: center;
} 
